<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/webjars/materializecss/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Jira to Trello</title>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo"><img src="/img/dblogo.svg" alt="db"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="http://clyde.run.dev.cf.demandbridge.io/" target="_blank">Return to Clyde -> </a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h3>Add Jira Cards to Release Night Trello Board</h3>
    <section id="sprints">
        <div id="sprint">
            <h4>The active sprint is: {{activeSprint.name}}</h4>
        </div>
    </section>
    <section id="tickets">
        <div id="results">
            <ul class="collection">
                {{#tickets}}
                    <li class="ticket collection-item avatar">
                        <img class="t-platform" src="/img/{{platform}}.png" alt="commerce">
                        <div><b>{{key}}: </b></div>
                        <span><div>{{fields.summary}}</div></span>
                        <label class="secondary-content">
                            <input type="checkbox" checked="checked"/>
                            <span></span>
                        </label>
                        <a class="btn secondary-content" target="_blank" href="{{url}}">View</a>
                    </li>
                {{/tickets}}
            </ul>
        </div>
    </section>
    <section id="actions">
        <div><a href="initModal" id="initButton" class="waves-effect waves-light btn modal-trigger">Initialize Release Night Trello Board</a></div>
    </section>
</div>
</body>

<footer>
    <script src="/webjars/materializecss/1.0.0/js/materialize.min.js"></script>
    <script src="/js/main.js"></script>
</footer>
</html>