<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/materializecss/1.0.0/css/materialize.css">
    <title>Mockup Using Grid</title>
    <style>
        * {
            box-sizing: border-box;
        }
        body {
            margin: 0;
            font-family: "Roboto Light", "sans-serif";
            line-height: 1.4em;
        }
        .wrapper {
            display: grid;
            grid-template-columns: 1fr 5fr 1fr;
            grid-template-rows: 1fr 6fr 1fr;
            height: 100%;
            /*place-content: space-around;*/
        }

        nav.navbar {
            grid-column-start: 1;
            grid-column-end: 4;
            display: grid;
            grid-template-columns: 1fr 5fr;
            grid-auto-rows: minmax(75px, auto);
            background: #2d2926;
            padding: 1em;
        }

        nav {
            height: 75px;
        }

        nav > .db-logo {
            padding-left: 1em;
        }

        nav a {
            grid-column-start: 4;
            padding-right: 1em;
            font-weight: 200;
            color: white;
            text-decoration: none;
        }

        nav > a:visited {
            text-decoration: none;
        }

        section.tickets {
            display: grid;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-template-columns: 1fr 4fr 2fr;
            grid-auto-rows: minmax(75px, auto);
            align-content: center;
            row-span: 2;
            row-gap: 0.5em;
        }

        div.ticket {
            background: #fff;
            -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
            -webkit-transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            /*border: 1px solid black;*/
            padding: 1em;
        }

        /*footer {*/
        /*    grid-column-start: 1;*/
        /*    grid-column-end: 4;*/
        /*}*/
    </style>
</head>
<body>
<div class="wrapper">
    <nav class="navbar">
            <img src="/img/dblogo.svg" alt="logo" class="db-logo">
            <a href="https://demandbridge.com" target="_blank">Return to Clyde</a>
    </nav>
    <section class="tickets">
        <div class="ticket">
            <img src="/img/commerce.png" alt="commerce" class="platform">
        </div>
        <div class="ticket">
            <p>Lorem ipsum dolor sit.</p>
        </div>
        <div class="ticket">
            <div class="btn"><i class="material-icons right">launch</i>View</div>
            <div class="btn"><i class="material-icons right">check_box</i>Select</div>
        </div>
        <div class="ticket">
            <img src="/img/commerce.png" alt="commerce" class="platform">
        </div>
        <div class="ticket">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad expedita facilis iure iusto labore, mollitia necessitatibus officiis praesentium quam sapiente. Delectus error id magnam magni natus porro quos sequi tenetur? Asperiores enim ex excepturi illo labore molestias nulla perferendis quasi soluta tempore. Enim error minus natus numquam pariatur, perferendis quasi ratione reiciendis, repellat, sapiente voluptate voluptatum? Architecto aspernatur aut distinctio expedita iure maxime minima placeat quam quos tenetur! Aliquid beatae consectetur distinctio dolor doloribus ducimus earum enim et eum exercitationem hic impedit in ipsam laborum minima molestiae mollitia neque numquam obcaecati odit officia perspiciatis, quaerat qui quo repellat rerum sed!</p>
        </div>
        <div class="ticket">
            <div class="btn"><i class="material-icons right">launch</i>View</div>
            <div class="btn"><i class="material-icons right">check_box</i>Select</div>
        </div>
        <div class="ticket">
            <img src="/img/commerce.png" alt="commerce" class="platform">
        </div>
        <div class="ticket">
            <p>Lorem ipsum dolor sit.</p>
        </div>
        <div class="ticket">
            <div class="btn"><i class="material-icons right">launch</i>View</div>
            <div class="btn"><i class="material-icons right">check_box</i>Select</div>
        </div>
        <div class="ticket">
            <img src="/img/commerce.png" alt="commerce" class="platform">
        </div>
        <div class="ticket">
            <p>Lorem ipsum dolor sit.</p>
        </div>
        <div class="ticket">
            <div class="btn"><i class="material-icons right">launch</i>View</div>
            <div class="btn"><i class="material-icons right">check_box</i>Select</div>
        </div>
        <div class="ticket">
            <img src="/img/commerce.png" alt="commerce" class="platform">
        </div>
        <div class="ticket">
            <p>Lorem ipsum dolor sit.</p>
        </div>
        <div class="ticket">
            <div class="btn"><i class="material-icons right">launch</i>View</div>
            <div class="btn"><i class="material-icons right">check_box</i>Select</div>
        </div>
        <div class="ticket">
            <img src="/img/commerce.png" alt="commerce" class="platform">
        </div>
        <div class="ticket">
            <p>Lorem ipsum dolor sit.</p>
        </div>
        <div class="ticket">
            <div class="btn"><i class="material-icons right">launch</i>View</div>
            <div class="btn"><i class="material-icons right">check_box</i>Select</div>
        </div>
    </section>
</div>

</body>
</html>